body
{
	font: 13px;
	font-family: Helvetica, Arial, sans-serif;
	background-color: crimson;

}

#chat-log
{
	background-color: khaki;
	margin: 5px;
	border: solid 1px #000;
	position: fixed;
	top: 30px;
	bottom: 90px;
	width: 90%;
	overflow-y: scroll;
}

#chat-log ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#chat-log ul li
{
	padding: 5px 10px;
}

#chat-log ul li.them-line
{
	list-style-image: url(http://i.imgur.com/hfZm5.gif);
	background-color: coral;
	color: cornflowerblue;
	font-size: 50px;
}

#chat-log ul li.me-line
{
	background-color: cornflowerblue;
	color: coral;
}


form
{
	background-color: #FFF;
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 5px;
	padding: 0;
	height: 30px;
}

form #chat-input
{
	border: 5px;
	padding: 10px;
	width: 85%;
	margin-right: .5%;
}

form button
{
	width: 12%;
	background-color: lightskyblue;
	border: none;
	padding: 10px;
}.console-line {
  font-family: monospace;
  margin: 2px;
}



